.fullscreen-modal {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.heading-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.p-dialog-content {
    padding: 0;
}

.device-parameters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .device-parameters {
        flex-direction: column;
    }
}
