.text-area {
    resize: none;
    width: 100%;
    height: 100%;
    min-height: 400px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(128, 128, 128);
    background-color: #FFF0;
    border: 1px dotted black;
    border-radius: 2px;
}

.text-area.error {
    color: red !important;
}
