.input-field {
    width: 100%;
}

.text-area {
    resize: none;
    width: 100%;
    height: 100%;
    min-height: 50px;
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    background-color: #FFF0;
    border: 1px dotted #000000;
    border-radius: 2px;
}

.text-area.error {
    color: #ff0000 !important;
}

.dialog-menu {
    display: flex;
    margin-bottom: 5px;
}

.grow {
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
